@import "../abstracts/variables";
@import "../abstracts/mixins";

.main {
  &-btn {
    color: $primary;
    font-size: 40px;
    border-radius: 20px;
    padding: 20px;
    &:hover {
      color: $secondary;
    }
  }
}

.finish-btn {
  width: 800px;
  @include responsive-at(tablet) {
    width: 50%;
  }

  @include responsive-at(mobile) {
    width: 100%;
  }

  background-color: $primary;
}
