* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
}

#body-section {
  width: 100%;
}

header,
nav,
footer {
  background-color: #eee;
  border: 1px solid white;
  text-align: center;
  outline: 0;
  padding: 10px 0;
  margin: 5px;
}

header {
  padding: 20px 0;
}

nav {
  padding: 10px 0;
}

#container-section {
  width: 100%;
  font-size: 0;
}

#inner-section {
  display: inline-block;
  width: 50%;
}
#left-aside,
#right-aside {
  display: inline-block;
  width: 25%;
}

article {
  font-size: 20px;
  background-color: #eee;
  text-align: center;
  padding: 100px 0;
  margin: 5px;
}
